body {
    background-image: url(./images/bg-img.jpeg);
    background-repeat: round;
    height: 100vh;
    margin: 0px;
}

img {
    height: 350px;
    width: auto;
    border-radius: 40px;
    border: 1px solid black;
}

h1 {
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    margin-top: 50px;
}

.big-container {
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.small-container {
    display: flex;
    flex-direction: column;
}

.img-btn:hover {
    transform: scale(1.05);
}

.img-btn:active {
    transform: scale(1.1);
}