.body {
    background-image: url(./images/pexels-photo-7251860.jpeg);
}

* {
    font-size: 25px;
}

img {
    height: 400px;
    width: auto;
    border-radius: 20px;
}

.big-container {
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 40px;

}

h1 {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.sub-heading {
    font-size: 35px;
}

#steps {
    text-align: left;
}

.small-container {
    display: flex;
    flex-direction: column;
}

a {
    color: black;
}